.body{
    background-color: #fff;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Занимает всю высоту экрана */
    margin-top: -60px; /* Сдвигаем контейнер вверх, чтобы логотип был выше */
}

.login-container img {
    max-width: 15%;
    height: auto;
    display: block; /* Отображение блока */
    margin-top: 20px; /* Отступ сверху 20px и центрирование */
    margin-bottom: 20px;
}

.login-container input {
    margin: 5px 0; /* Отступы между полями ввода */
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 4px; /* Скругление углов */
}
.login-container button {
    margin-top: 10px; /* Уменьшенный отступ сверху для кнопки */
    width: 100px;
}

.login-container .input-with-icon {
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Элементы в столбце */
    align-items: flex-start; /* Выравнивание по левому краю */
    margin: 5px 0; /* Отступы между элементами */
}

.login-container .input-with-icon .input-group {
    display: flex;
    align-items: center; /* Выравнивание иконки и поля ввода по вертикали */
    margin-bottom: 10px; /* Отступ между группами (логин и пароль) */
}

.login-container .input-with-icon .input-group i {
    margin-right: 10px; /* Отступ между иконкой и полем ввода */
    font-size: 1.2em; /* Размер иконки */
}